@forward 'media';
@forward 'carousel';


body {
    width: 100%;

  }

  section .float{
    display: flex;
    justify-content: flex-end;
    img{
        flex-direction: column-reverse;
    }
  }

  footer{
    background-color: #262626;
  }
