

@media screen and (max-width: 768px) {
    .container {
      opacity: 0;
      height:10%;
    }
    footer{

    }
  }

  @media screen and (max-width: 768px) {
    .site-header {
      display: none;
    }

  }


.body {

    background-color: white;
    color: black;
}

// /* Dark mode styles */
// @media (prefers-color-scheme: dark) {
//     body {
//         background-color: black;
//         color: white;
//         a{
//             color:black;
//         }
//     }
// }

